h2 {
  color: white;
}

.orderResults {
  display: none;
}

.row {
  height:
}

body {
  background-image: url("../img/pizza-dark-background.jpeg");
  background-size: cover;
  background-position: center;
  font-weight: lighter;
  color: white;
  font-size: 18px;
}

.style {
  color
}

input {
  font-size: 20px;
}

select {
  font-weight: normal;
}
