h2 {
  color: white;
}

.orderResults {
  display: none;
}

.row {
  height:
}

body {
  background-image: url("../img/pizza-dark-background.jpeg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 100%;
  font-weight: lighter;
  color: white;
  font-size: 18px;
}

select {
  font-weight: normal;
}

#miyoko {
  font-size: 10;
  font-style: normal;
  font-weight: lighter;
}
